body{
  margin:0;
  padding: 0;
  background-color: #DFFFF5;
  overflow: hidden;
  position: relative;
  nav{
    position: absolute;
    height:0vh;
    right:5vw;
    top:5vh;
    z-index: 2;
    font-size:20px;
    #nameContainer{
      display: inline-block;
      background-color: white;
      border-radius: 5vw;
      #nameText{
        padding: 1vh 2vw;
      }

    }
    #percentageContainer{
      display: inline-block;
      background-color: white;
      border-radius: 5vw;
      #percentageText{

        padding: 1vh 2vw;
        #percentage{
        }
      }
    }
  }
  main{
    z-index: 1;
    height:100vh;
    position:relative;
    #commentContainer{
      position: absolute;
      background-color:white;
      color:black;
      height:55vh;
      width:40vw;
      border-radius: 5vw;
      border-color: black;
      border-width:medium;
      left:5vw;
      top:5vh;
      #comp{
        padding:5vh 5vw 0;
        font-size: 20px;
      }

    }
    #animalContainer{
      position: absolute;
      height:100vh;
      right:35vw;
      bottom:-70vh;
      #animal{
          height: 40%;
      }
    }
    #signBoardContainerContainer{
      position:absolute;
      bottom:35vh;
      right:70vw;
      #signBoardContainer{
        position: relative;
        #signBoard{
          position: absolute;
          width:20vw;
        }
        #signs{
          position: absolute;
          width:20vw;
          font-size: 40px;
          left:calc(20vw/2 - 40px);
          top:6vh;
        }
      }
    }

    #mountainContainer{
      position: absolute;
      right:-25vw;
      bottom:-100px;
      #mountain{
        height:100vh;
      }
    }
  }
}
